html {
    scroll-behavior: smooth;
    overflow-x: hidden;
}
.capa {
    border-radius: 50%;
    width: 25%;
}
.bg-pr {
    background-color: #2F4F4F !important;
} 
.bg-sec {
    background-color: #ADD8E6 !important;
}
.separate {
    width: 100%;
}
.separate img {
    width: 50%;
}
.img-ml {
    width: 100%;
}
.titulo {
    text-decoration: underline;
    text-underline-position: below;
    text-transform: uppercase;
    font-weight: 700;
    color: #2F4F4F;
}
.titulo-b {
    text-decoration: underline;
    text-underline-position: below;
    text-transform: uppercase;
    font-weight: 700;
    color: white;
}
.h80 {
    min-height: 80vh;
}
.h75 {
    min-height: 75vh;
}
.fixed-nav {
    position: fixed;
    width: 100%;
    z-index: 1000;
}
.top4 {
    padding-top: 4%;
}
.pngcontato {
    width: 3%;
}
.teclist {
    list-style-type: none;
}
.teclist li {
    margin-bottom: 5%;
}
.teclist img {
    margin-right: 5%;
}
.logolist {
    width: 10%;
}

#foto {
    animation-name: vision;
    animation-duration: 2s;
    animation-timing-function: linear;
    animation-direction: alternate;
}

@keyframes vision {
    0% {
        transform: rotatez(0deg) scale(0.1);
    }
    100% {
        transform: rotatez(1080deg) scale(1);
    }
}