html {
    scroll-behavior: smooth;
}
.bg-black {
    background-color: black;
}
#p-carousel {
    font-family: 'Courier', 'monospace' ;
    margin-bottom: 5vh;
}
.f-title-proj {
    font-size: 1.3rem;
}
.capa {
    border-radius: 50%;
    width: 25%;
}
.bg-pr {
    background-color: #2F4F4F !important;
} 
.bg-sec {
    background-color: #ADD8E6 !important;
}
.titulo {
    text-decoration: underline;
    text-underline-position: below;
    text-transform: uppercase;
    font-weight: 700;
    color: #2F4F4F;
}
.titulo-b {
    text-decoration: underline;
    text-underline-position: below;
    text-transform: uppercase;
    font-weight: 700;
    color: white;
}
.h80 {
    min-height: 80vh;
}
.h75 {
    min-height: 75vh;
}
.h70 {
    min-height: 70vh;
}
.h65 {
    min-height: 65vh;
}
.h60 {
    min-height: 60vh;
}
.fixed-nav {
    position: fixed;
    z-index: 100;
    width: 100vw;
}
.top4 {
    padding-top: 60px;
}
.top4 img {
    width: 48vw;
    margin-left: 3vw;
}
.pngcontato {
    width: 50px;
}

#tec a {
    text-decoration: none;
    color: gray;
}
#tec a:hover {
    color: blue;
}
.tec-gradient {
    background: radial-gradient( aliceblue 60%, grey);
}

.teclist {
    list-style-type: none;
    margin-left: 4vw;
}
.teclist li {
    margin-bottom: 5%;
}
.teclist img {
    margin-right: 5%;
}
.logolist {
    width: 10%;
}
.opacity-1 {
    opacity: 0.2 !important;
}
.opacity-2 {
    opacity: 0.4 !important;
}
.opacity-3 {
    opacity: 0.6 !important;
}
.opacity-4 {
    opacity: 0.8 !important;
}
.opacity-5 {
    opacity: 0.9 !important;
}

.hr-wht {
    border-color: whitesmoke;
}

.link-white {
    color: white;
}

.link-black {
    color: black !important;
}

.d-none {
    display: none;
}

.shadow-card {
    box-shadow: 8px 10px 15px #4f6bb99a;
}
